html, body, head {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67BBBF;
    width: 100%;
    
}

.footerAbout {
    margin-left: 2%;
}

.footerAbout h2 {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    
}

.footerAbout P {
    text-align: left;
    font-size: 13px;
    line-height: 0.7;
    
}

.footerSocial img {
    width: 100px;
    height: auto;
    
}
.footerSocial {
    margin-right: 2%;
}


