/* ContactForm.module.css */
/* ContactForm.module.css */
.contact-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 25px;
  background: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease-in-out;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.successContainer {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: green;
  font-size: 14px;
  text-align: center;
  animation: fadeIn 0.5s ease-in;
}

.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background: #67bbbf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 15px;
}

.submit-button:hover {
  background: #3c6f71;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}