/* ContactPage.module.css */
.contact-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  color: #67BBBF;
  font-family: 'Merienda';
}

h1 {
  margin: 0;
  font-weight: bolder;
}

p {
  font-weight: bold;
}